@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@font-face {
  font-family: Busorama Medium;
  src: url(../assets/bejeweled-font-lmao.otf);
}
body {
  color: white;
  background: rgb(0,142,255);
  background: -moz-linear-gradient(90deg, rgba(0,142,255,1) 0%, rgba(0,255,59,1) 100%);
  background: -webkit-linear-gradient(90deg, rgba(0,142,255,1) 0%, rgba(0,255,59,1) 100%);
  background: linear-gradient(90deg, rgba(0,142,255,1) 0%, rgba(0,255,59,1) 100%);
  font-family: 'Source Sans Pro', sans-serif;
  margin: 0;
}
h1, h2, h3, h4, h5, h6 {
  font-family: Busorama Medium;
}
img {
  max-width: 100%;
  height: auto;
}
a {
  color: white;
  text-decoration: none;
}
a:hover {
  color: lightblue;
}
footer {
  font-size: 18px;
  text-align: center;
}
.link {
  border: 5px solid white;
  border-radius: 25px;
  padding: 20px;
  text-align: center;
  font-size: 1.2em;
}
@media (min-width: 30em) {
    .row { width: 100%; display: table; table-layout: fixed; }
    .col { display: table-cell; }
}
